.additional__title {
  line-height: 24px;
  font-size: 24px;
  padding-top: 31px;
  padding-bottom: 30px;
  border-top: 1px solid $grey-line;
  border-bottom: 1px solid $grey-line;
}

.goods__description-cell {
  line-height: 14px;
}
