.additional {
  position: relative;
}

.additional::before {
  content: "";
  width: 300%;
  height: 3px;
  position: absolute;
  top: 44px;
  left: 260px;
  z-index: -1;
  background-color: $green-back;
}

.additional__title {
  line-height: 24px;
  font-size: 24px;
  padding-top: 31px;
  padding-bottom: 30px;
}

.goods__info {
  margin-bottom: 14px;
  width: 280px;
}

.goods__description-cell {
  line-height: 14px;
}

.goods__description-cell:last-child {
  text-align: right;
  width: 70px;
  margin: 0;
}
.goods__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.goods__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: -170px;
  height: 1px;
  width: 300%;
  background-color: $grey-line;
  overflow: hidden;
}

.present{
  position: relative;
}

.present::after {
  position: absolute;
  content: "";
  top: 0;
  left: -170px;
  height: 1px;
  width: 300%;
  background-color: $grey-line;
  overflow: hidden;
}


@media (min-width: $tablet) {
  .additional {
    margin-bottom: 69px;
  }

  .additional__title {
    line-height: 36px;
    font-size: 36px;
    padding-top: 0;
    padding-left: 36px;
    padding-right: 36px;
  }

  .additional::before {
    width: 7%;
    top: 20px;
    left: 0;
  }

  .additional::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 20px;
    right: -30px;
    background-color: $green-back;
  }

  .goods__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid $grey-line;
    border-right: 1px solid $grey-line;
  }

  .goods__title {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  .goods__info {
    margin-top: 33px;
    width: 70%;
  }

  .goods__description-cell {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop) {
  .additional__container {
    display: flex;
  }

  .additional__order {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 245px;
  }

  .goods {
    width: 62%;
    margin-right: 80px;
  }

  .goods__item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
  }

  .goods__item:last-child {
    border-bottom: 1px solid $grey-line;
    margin-bottom: 86px;
  }

  .goods__info {
    margin-top: 33px;
    width: 35%;
  }

  .goods__title {
    width: 20%;
  }
}
