.advantages {
  margin-bottom: 42px;
}

@media (min-width: $tablet) {
  .advantages {
    padding-bottom: 55px;
    padding-top: 32px;
    margin-bottom: 51px;
    border-bottom: 1px solid #ededed;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 280px;
  background-color: $white-back;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Arial", sans-serif;
  color: $grey-text;
  display: flex;
}

@media (min-width: $tablet) {
  .advantages__item {
    width: 314px;
  }
}

@media (min-width: $desktop) {
  .advantages__item {
    width: 240px;
  }
}

.advantages__title {
  margin-top: 0px;
}

.advantages__logo {
  background-color: $green-back;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.advantages__text {
  margin: 0;
}
