.button:active {
  color: rgba(255,255,255,.3);
}

.button:focus, .button:hover {
  background-color: #5eaa2f;
}
.page-nav__toggle {
  position: absolute;
  top: 0;
  left: 255px;
  z-index: 2;
  border: 0;
  display: block;
  cursor: pointer;
  width: 65px;
  height: 45px;
  background-color: $white-back;
}

.order {
  display: block;
  background-color: $green-back;
  width: 280px;
  padding-top: 7px;
  padding-bottom: 12px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;

  &:hover{
    background-color:$green-hover;
  }
}

.product__show-link {
  background-color: $grey-back;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $grey-text;
  text-transform: uppercase;
  border: 0;
}

.product__show-link {
  &:hover {
    background-color: $grey-hover;
  }

  &:active {
    color: rgba(68,68,68,.3);
  }
}
.form__order {
  background-color: $green-back;
  width: 280px;
  height: 40px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}

.program__order {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $green-back;
  display: block;
  width: 280px;
  margin-top: 298px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
  padding-top: 11px;
  padding-bottom: 11px;
}
.additional__order{
  margin-bottom: 18px;
}

@media (min-width: $tablet) {
  .page-nav__toggle {
    display: none;
  }

  .order {
    width: 249px;
}

  .program__order {
    font-family: "Oswald", "Arial", sans-serif;
    background-color: $green-back;
    display: block;
    width: 246px;
    margin-top: 49px;
    margin-left: 88px;
    margin-bottom: 22px;
    padding-top: 13px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $white-back;
    text-transform: uppercase;
    border: 0;
  }

  .additional__order {
    width: 633px;
    margin-bottom: 30px;
  }

  .form__order {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 0px;
    padding-top: 17px;
    padding-bottom: 35px;
    padding-left: 0px;
  }
}

@media (min-width: $desktop) {
  .program__order {
    margin-top: 51px;
    margin-left: 80px;
  }

  .order {
    width: 170px;
    margin-left: 37px;
    padding-top: 10px;
  }

  .additional__order{
    margin-bottom: 15px;
    width: 245px;
   }

  .product__show-link {
    width: 170px;
    margin-left: 35px;
    padding-top: 10px;
  }

  .form__order {
    width: 568px;
    margin-left: 39px;
    margin-top: 10px;
  }
}
