.page-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: 0;
  display: block;
  cursor: pointer;
  width: 65px;
  height: 45px;
  background-color: $white-back;
}

@media (min-width: $tablet) {
  .page-nav__toggle {
    display: none;
  }
}

.program__order {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $green-back;
  display: block;
  width: 280px;
  margin-top: 3px;
  margin-bottom: 22px;
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}

@media (min-width: $tablet) {
  .program__order {
    width: 245px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-top: 48px;
    font-size: 20px;
    line-height: 20px;
  }
}

.order {
  display: block;
  background-color: $green-back;
  width: 280px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}

@media (min-width: $tablet) {
  .order {
    width: 249px;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

.product__show-link {
  background-color: $grey-back;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $grey-text;
  text-transform: uppercase;
  border: 0;
}

.form__order {
  background-color: $green-back;
  width: 280px;
  height: 40px;
  margin-top: 34px;
  margin-right: 20px;
  margin-bottom: 23px;
  margin-left: 20px;
  padding-top: 13px;
  padding-right: 50px;
  padding-bottom: 12px;
  padding-left: 57px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}
