.program__order {
  background-color: $green-back;
  width: 280px;
  height: 40px;
  margin: 3px 20px 22px 20px;
  padding: 13px 73px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}

.order {
  background-color: $green-back;
  width: 280px;
  height: 40px;
  margin: 14px 20px 25px 20px;
  padding: 12px 111px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;
}

.product__show-link {
  background-color: $grey-back;
  width: 280px;
  height: 40px;
  margin: 22px 20px 25px 20px;
  padding: 13px 94px 12px 97px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $grey-text;
  text-transform: uppercase;
  border: 0;

}

.form__order {
  background-color: $green-back;
  width: 280px;
  height: 40px;
  margin: 34px 20px 23px 20px;
  padding: 13px 50px 12px 57px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
  border: 0;

}
