.catalog__title {
  margin-top: 10px;
  margin-bottom: 28px;
  padding-left: 0px;
}

@media (min-width: $tablet) {
  .catalog__title {
    line-height: 60px;
    font-size: 60px;
    border: 0;
    margin-top: 32px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop) {
  .catalog__title {
    margin-top: 190px;
    margin-bottom: 73px;
  }
}
