.contact {
  background-color: $white-back;
  padding: 33px 25px 28px 19px;
}

.contact__text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: $text-color;
  text-align: left;
  text-transform: uppercase;
}

.contact__adress {
  line-height: 20px;

}
