.copyright {
  padding-top: 31px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  color: $grey-text;
  text-align: left;
}

.ccopyright__link-foto {
  fill: $grey-logo;
  padding-top: 19px;
}
