.diet {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .diet {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop) {
  .diet {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 80px;
  }
}

.diet__options {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .diet__options {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.diet__item {
  background-color: $grey-back;
  width: 280px;
  height: 266px;
  margin-bottom: 22px;
  padding-top: 24px;
  padding-right: 21px;
  padding-bottom: 22px;
  padding-left: 36px;
  text-align: left;
}

@media (min-width: $tablet) {
  .diet__item {
    width: 708px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop) {
  .diet__item {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 79px;
  }
}

.diet__head {
  text-transform: uppercase;
  line-height: 37px;
}

.diet__description {
  font-family: "Arial", sans-serif;
  color: $grey-text;
}

.diet__title {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  color: $text-color;
}
