.data{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form__list{
  padding-left: 20px;
  padding-right: 20px;
}

.data__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $black-two;
}

.form__radio {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $black-two;
  padding-left: 46px;
}

.form__radio::before {
  border-radius: 50%;
  top: -3px;
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid $grey-form;
}

.form__radio:hover::before{
  border-color:$border-hover;
}

.form__input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: $green-back;
  border-radius: 50%;
}

.form__contacts-title {
  line-height: 24px;
  margin: 30px 20px;
}

.form__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border: 1px solid $grey-line;
  margin-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  flex-grow: 1;
  outline: none;

  &:hover {
    border: 1px solid $grey-form;
  }
  &:active{
    border: 1px solid $grey-text;
  }
  &:invalid{
    border: 1px solid $red;
  }
}

.form__field:active+.info__emailogo {
  fill: $green-back;
}

.form__field:active+.info__telogo {
  fill: $green-back;
}

.form__field:invalid+.info__emailogo {
  fill: $red;
}

.form__field:invalid+.info__telogo {
  fill: $red;
}
.form__title {
  margin-left: 0;
  margin-top: 27px;
  margin-bottom: 35px;
  padding-left: 20px;
  width: 181px;
  text-align: left;
}

.form__note {
  font-family: "Arial",sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $grey-text;
  text-align: center;
}

.form__program{
  margin-top: 21px;
  display: flex;
  flex-direction: column;
}
.aim{
  padding-left: 20px;
  padding-right: 20px;
}
.aim__item{
  margin-bottom: 24px;
  &:active {
    opacity: $opacity-active;
  }
}

.form__wrapper{
  border-top: 1px solid $grey-line;
  border-bottom: 1px solid $grey-line;
  padding-top: 16px;
}

.form__contacts{
  position: relative;
}

.form__contacts::after {
  content: "";
  position: absolute;
  width: 30%;
  top: 14px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}

.info__list {
  display: flex;
  flex-direction: column;
}

.info__emailogo{
  position: absolute;
  top: 15px;
  right: 16px;
  fill: $black-two;
}

.info__telogo{
  position: absolute;
  top: 15px;
  right: 13px;
  fill: $black-two;
}

.info__item{
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.form__comment{
  position: relative;
  margin-left:0;
  padding: 0;
}

.comment__title{
  margin-top: 17px;
}

.form__comment::after {
  content: "";
  position: absolute;
  width: 50%;
  top: 13px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  border: 1px solid $grey-form;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.form__extra{
  position: relative;
  margin-left:0;
  margin-bottom: 31px;
  padding: 0;
}

.form__extra::after {
  content: "";
  position: absolute;
  width: 43%;
  top: 13px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}


.extra__item{
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 11px;
  &:active {
    opacity: $opacity-active;
  }
}

.form__check{
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  color: $black-two;
  margin-bottom: 21px;
  text-transform: uppercase;
  padding-left: 45px;
  padding-top: 5px;
  margin-bottom: 7px;
  position: relative;
}

.form__check::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid $grey-form;
}

.form__check:hover::after{
  border-color:$border-hover;
}

.form__checkbox:checked+label::after {
  content: "";
  position: absolute;
  background: url(#{$img-path}/icon-tick.svg) no-repeat;
  background-size: 21px 16px;
  background-position: 4px 6px;
}

@media(min-width: $tablet){

  .data__item{
    padding-left: 40px;
    padding-right: 37px;
    margin-bottom: 20px;
  }


  .form__list{
    padding-left: 30px;
    padding-right: 30px;
  }

  .form__wrapper{
    border: none;
  }

  .form__field {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 9px;
    margin-left: 18px;
    padding-left: 18px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__radio {
    font-size: 20px;
    line-height: 20px;
  }

  form__radio::before {
    top: -4px;
    left: -13px;
}

  .aim{
    margin-left: 72px;
    margin-right: 66px;
    margin-top: 36px;
    border: 1px solid $grey-line;
    padding-bottom: 4px;
    padding-top: 33px;
    padding-left: 38px;
  }

  .aim__item{
  margin-bottom: 30px;
 }

  .form__title{
  width: 515px;
  font-size: 36px;
  line-height: 36px;
  color: $black-two;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 74px;
  margin-top: 75px;
  margin-left: 17px;
 }

.form__contacts::after{
  content: "";
  position: absolute;
  width: 19%;
  top: 21px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}

.form__contacts::before {
  content: "";
  position: absolute;
  width: 4%;
  top: 21px;
  left: 0;
  height: 3px;
  background-color: $green-back;
}

.info__item{
  padding-left: 40px;
  padding-right: 37px;
  margin-bottom: 20px;
}

.info__emailogo{
  right: 56px;
  top: 21px;
}

.info__telogo{
  right: 51px;
  top: 18px;
}

.comment__title {
  margin-top: 45px;
}

.form__comment::before {
  content: "";
  position: absolute;
  width: 62%;
  top: 21px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}

.form__comment::after {
  content: "";
  position: absolute;
  width: 4%;
  top: 21px;
  left: 0;
  height: 3px;
  background-color: $green-back;
}

.form__textarea {
  font-size: 20px;
  line-height: 20px;
  margin-left: 40px;
  padding-top: 16px;
  padding-bottom: 38px;
  width: 631px;
}

.form__extra::before {
  content: "";
  position: absolute;
  width: 58%;
  top: 21px;
  right: 0;
  height: 3px;
  background-color: $green-back;
}

.form__extra::after {
  content: "";
  position: absolute;
  width: 4%;
  top: 21px;
  left: 0;
  height: 3px;
  background-color: $green-back;
}

.extra__title{
  margin-top: 62px;
  margin-bottom: 59px;
}

.extra__list{
  display: flex;
  flex-wrap: wrap;
}

.extra__item{
  width: 314px;
  margin-bottom: 27px;
  margin-left: 37px;
}

.form__check{
  font-size: 20px;
  line-height: 20px;
  padding-left: 55px;
  margin-bottom: 17px;
}

.form__radio::before {
  width: 40px;
  height: 40px;
  top: -5px;
  left: -11px;
}

.form__input-radio:checked+label::after {
  width: 18px;
  height: 18px;
  left: 0px;
}

.form__check::after {
  width: 40px;
  height: 40px;
}

.form__checkbox:checked+label::after{
  background-position: 10px 10px;
}

.form__required{
  display: flex;
  margin-left: 71px;
  margin-bottom: 66px;
}

.form__note{
  font-size: 16px;
  line-height: 16px;
  color: $grey-text;
  margin-left: 61px;
  margin-left: 44px;
  margin-top: 22px;
}

.form__extra {
  margin-bottom: 22px;
}
}
@media(min-width: $desktop){
  .form__container{
    display: flex;
  }

  .form__list{
    width: 570px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 110px;
    margin-right: 0px;
  }

  .form__wrapper{
    width: 570px;
    padding-top: 0;
    margin-left: 80px;
  }

  .data__item{
    margin-left: 0;
    padding-left: 0px;
    padding-right: 0;
    margin-bottom: 18px;
  }

  .aim{
    margin: 0;
    padding-bottom: 0;
    padding-top: 35px;
    padding-left: 38px;
  }

  .info__list{
    flex-direction: row;
  }

  .info__item{
    padding-right: 0px;
    padding-left: 0px;
  }

  .info__email{
    width: 469px;
  }

  .info__title{
    margin-top: 50px;
  }

  .info__tel{
    width: 452px;
  }

  .info__label{
    margin-left: 68px;
  }

  .form__title {
    padding-left: 92px;
  }

  .form__field{
    margin-left: 21px;
  }

  .form__extra::before {
  width: 75%;
  }

  .form__extra::after{
    width: 5%;
  }

  .info__emailogo {
    right: 21px;
  }

  .info__telogo {
    right: 17px;
  }

  .form__comment::before {
    width: 77%;
    top: 24px;
  }

  .form__comment::after {
    width: 5%;
    top: 24px;
  }

  .form__contacts::before{
    width: 5%;
  }

  .form__contacts::after {
  width: 54%;
  }

  .form__textarea {
    width: 1220px;
    height: 174px;
    margin-left: 0;
  }

  .extra__list{
    justify-content: space-between;
  }

  .extra__item{
    width: 245px;
    margin-left: 0px;
  }

  .extra__title {
    margin-top: 72px;
    margin-bottom: 56px;
}

.form__note{
  margin-left: 66px;
  margin-top: 26px;
}
}
