.logo {
  text-align: center;
  padding-top: 49px;
  padding-bottom: 30px;

  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }
}

@media (min-width: $tablet) {
  .logo {
    border-bottom: 0;
    padding-top: 40px;
  }
}
