.contact__map {
  position: relative;
  width: 100%;
}

.contact__map-foto {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border: none;
}

.contact__map iframe {
  position: relative;
  border: none;
}
