.page-header {
  padding-right: 22px;
  padding-left: 20px;
}

.page-header__logo-image {
  height: 39px;
}

@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo-image {
    height: 59px;
  }
}

@media (min-width: $desktop) {
  .page-header__logo-image {
    height: 60px;
  }
}
