.header__border{
  border-bottom: 1px solid $grey-line;
}
.page-header {
  padding-top: 12px;
  position: relative;
}
.page-header__logo:active {
  opacity: 0.3;
}

.page-header__logo:hover {
  opacity: 0.7;
}
.page-header__logo-image {
  height: 39px;
}

.header__logo--desktop, .header__logo--tablet{
  display: none;
}

@media (min-width: $tablet) {
  .header__border{
    border-bottom: none;
  }
  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
  }
  .header__logo--mobile, .header__logo--desktop{
    display: none;
  }
  .header__logo--tablet{
    display: block;
  }
  .page-header__logo-image {
    height: 59px;
    width: 174px;
    margin-right: 13px;
  }
}

@media (min-width: $desktop) {
  .header__border{
    border-bottom: none;
  }
  .header {
    position: absolute;
    top: 30px;
    left: 105px;
  }

  .page-header__logo-image {
    height: 60px;
    width: 203px;
  }
  .header__logo--tablet, .header__logo--mobile{
    display: none;
  }
  .header__logo--desktop{
    display: block;
  }
}
