.page-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  min-height: 195px;

}

.page-nav--closed .page-nav__toggle::before {
  content: " ";
  position: absolute;
  background: url(#{$img-path}/icon-mobile-menu.svg) no-repeat;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
}

.page-nav--opened .page-nav__toggle::after {
  content: " ";
  position: absolute;
  background: url(#{$img-path}/icon-close.svg) no-repeat;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
}

@media (min-width: $tablet) {
  .page-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
