.page-footer {
  background-color: $grey-back;
  width: 100%;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .page-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
