.header__border{
  border-bottom: 1px solid $grey-line;
}
.page-header {
  padding-top: 12px;
  position: relative;
}

.page-header__logo--img {
  &:hover{
  opacity: $opacity-hover;
  }
  &:active {
    opacity: $opacity-active;
  }
}

.page-header__logo--tablet, .page-header__logo--desktop{
  display: none;
}

@media (min-width: $tablet) {
  .header__border{
    border-bottom: none;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
  }

  .page-header__logo--mobile, .page-header__logo--desktop{
    display: none;
  }

  .page-header__logo--tablet{
    display: block;
  }
}

@media (min-width: $desktop) {
  .header__border{
    border-bottom: none;
  }

  .header {
    position: absolute;
    top: 30px;
    left: 105px;
  }

  .page-header__logo--tablet, .page-header__logo--mobile{
    display: none;
  }

  .page-header__logo--desktop{
    display: block;
  }
}
