.present {
  padding-top: 35px;
  padding-bottom: 35px;
}

.present__info {
  width: 280px;
  height: 289px;
  background-image: url(#{$img-path}/gift-photo-mobile@1x.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-resolution: 1.5dppx) {
  .present__info {
    background-image: url(#{$img-path}/gift-photo-mobile@2x.jpg);
  }
}

.present__picture {
  fill: $white-back;
}

.present__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $white-back;
  width: 160px;
  margin: 60px auto 0;
  text-align: center;
}

@media (min-width: $tablet) {
  .present__info {
    height: 200px;
    width: 492px;
    padding-left: 91px;
    padding-right: 125px;
    background-image: url(#{$img-path}/gift-photo-tablet@1x.jpg);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-resolution: 1.5dppx) {
    .present__info {
      background-image: url(#{$img-path}/gift-photo-tablet@2x.jpg);
    }
  }

  .present__text {
    margin: 0;
    text-align: left;
  }

  .present {
    padding-top: 75px;
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop) {
  .present {
    padding-top: 0;
    padding-bottom: 0;
  }

  .present__info {
    background-image: url(#{$img-path}/gift-photo-desktop@1x.jpg);
    width: 245px;
    height: 180px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 43px;
  }

  .present__text {
    text-align: center;
  }

  @media (min-resolution: 1.5dppx) {
    .present__info {
      background-image: url(#{$img-path}/gift-photo-desktop@2x.jpg);
    }
  }
}
