.product {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.product::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -170px;
  height: 1px;
  width: 300%;
  background-color: $grey-line;
  overflow: hidden;
}

.product__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.product__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: -170px;
  height: 1px;
  width: 300%;
  background-color: $grey-line;
  overflow: hidden;
}

.product__title {
  line-height: 20px;
  width: 90px;
  margin-bottom: 8px;
}

.product__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: left;
  color: $grey-text;
  padding: 0;
  width: 140px;
  border-collapse: collapse;
}

.product__description-cell:last-child {
  text-align: right;
  width: 70px;
}

.product__item:last-child {
  text-align: center;
  flex-direction: column;
}

.product__show-image {
  margin-top: 27px;
  margin-bottom: 21px;
}

.product__show-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

.product__show-text-small {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 18px;
}

@media (min-width: $tablet) {
  .product {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product__item {
    width: 324px;
    background-color: $grey-back;
    position: relative;
    margin-top: 90px;
    margin-bottom: 48px;
    border-top: none;
    padding-bottom: 17px;
    padding-top: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }

  .product__item:last-child {
    padding-top: 55px;
    text-align: center;
    border: 1px solid $grey-form;
    background-color: $white-back;
  }

  .product__item::after {
    display: none;
  }

  .product__image {
    position: absolute;
    content: " ";
    left: 0;
    bottom: 305px;
    width: 324px;
  }

  .product__table {
    width: 249px;
    padding: 0;
    margin-bottom: 36px;
  }

  .product__title {
    width: 130px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
  }

  .product__description {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  .product__description-row {
    border-bottom: 1px solid $grey-form;
  }

  .product__description-cell {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .description-table__cell:last-child {
    text-align: right;
  }

  .product__show-image {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 46px;
  }

  .product__show-text {
    font-size: 20px;
    line-height: 20px;
    width: 135px;
    margin: 10px;
  }

  .product__show-text-small {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 84px;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 1220px;
  }

  .product__item {
    width: 245px;
    align-items: unset;
    padding-bottom: 15px;
  }

  .product__item:last-child {
    background: unset;
    text-align: unset;
  }

  .product__description {
    width: 170px;
    margin-left: 35px;
  }

  .product__title {
    margin-bottom: 19px;
    margin-left: 57px;
  }

  .product__image {
    bottom: 300px;
}

  .product__show-image {
    margin-top: 0;
    margin-bottom: 46px;
    margin-left: 90px;
  }

  .product__show-text {
    font-size: 20px;
    line-height: 20px;
    width: 135px;
    margin-bottom: 26px;
    margin-left: 55px;
    margin-top: 5px;
    text-align: center;
  }

  .product__show-text-small {
    width: 170px;
    margin-bottom: 64px;
    margin-left: 35px;
    margin-top: 0;
  }

  .product__table {
    margin-bottom: 30px;
}
}
