.product {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-main__title {
  margin-top: 32px;
  margin-right: 44px;
  margin-bottom: 35px;
  margin-left: 22px;
}

.product__item {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $grey-line;
  border-left: 1px solid $grey-line;
  border-right: 1px solid $grey-line;
  padding-left: 20px;
  padding-right: 20px;
}

.product__item:first-child {
  border-top: 1px solid $grey-line;
}

@media (min-width: $tablet) {
  .product__item {
    width: 284px;
  }
}

@media (min-width: $desktop) {
  .product__item {
    width: 245px;
  }
}

.product__table {
  width: 140px;
  margin: 0;
  margin-bottom: 23px;
  border-collapse: collapse;
}

.product__title {
  line-height: 20px;
  width: 90px;
}

.product__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: left;
  color: $grey-text;
  padding: 0;
}

.product__description-cell:last-child {
  text-align: right;
  width: 70px;
}

.product__item:last-child {
  text-align: center;
  margin: 0;
  padding-left: 19px;
  padding-right: 19px;
  flex-direction: column;
}

.product__show-image {
  margin-top: 27px;
  margin-bottom: 25px;
  margin-left: 130px;
}

.product__show-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: $text-color;
  text-decoration: none;
}

.product__show-text-small {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: center;
}
