.product {
  display: flex;
  flex-direction: column;
}

.page-main__title {
  margin-top: 32px;
  margin-right: 44px;
  margin-bottom: 35px;
  margin-left: 22px;
}

.product__item {
  position: relative;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.product__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: -170px;
  height: 1px;
  width: 300%;
  background-color: #ededed;
}

.product__table {
  border-collapse: collapse;
}

.product__title {
  line-height: 20px;
  width: 90px;
  margin-bottom: 8px;
}

.product__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: left;
  color: $grey-text;
  padding: 0;
  width: 140px;
}

.product__description-cell:last-child {
  text-align: right;
  width: 70px;
}

.product__item:last-child {
  text-align: center;
  flex-direction: column;
}

.product__show-image {
  margin-top: 27px;
  margin-bottom: 21px;
  margin-left: 127px;
}

.product__show-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

.product__show-text-small {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 18px;
}

@media (min-width: $tablet) {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__item {
    width: 284px;
  }

  .product__item::after {
    display: none;
  }

}

@media (min-width: $desktop) {
  .product__item {
    width: 245px;
  }
}
