.program {
  background: url(#{$img-path}/gift-photo-mobile@1x.jpg) no-repeat;
  background-color: $green-back;
  width: 320px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: $tablet) {
  .program {
    background: 0 0;
    padding-left: 120px;
    width: 768px;
  }
}

@media (min-width: $desktop) {
  .program {
    width: 1300px;
  }
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  margin: 29px 38px 19px 37px;
  margin-top: 29px;
  margin-right: 38px;
  margin-bottom: 19px;
  margin-left: 37px;
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
}
