.program {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.program::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: url(#{$img-path}/gift-photo-mobile@1x.jpg) no-repeat;
  background-size: contain;
  background-color: $green-back;
  width: 320px;
  height: 305px;
  margin: 0 auto;
}
.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  margin: 29px 38px 19px 37px;
  margin-top: 29px;
  margin-right: 38px;
  margin-bottom: 19px;
  margin-left: 37px;
}

.program__slogan {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  color: $white-back;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .program {
    padding-left: 120px;
    width: 768px;
  }
  .program::before {
    display: none;
  }
  .program__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $text-color;
  }
  .program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
  }
}

@media (min-width: $desktop) {
  .program {
    width: 1300px;
  }
}
