.site-menu__item {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $white-back;
  border-bottom: 1px solid $grey-form;
  text-align: center;
}

.site-menu__item:first-child {
  border-top: 1px solid $grey-form;
}

.site-menu__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.site-menu a[href] {
  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }
}

@media (min-width: $tablet) {
  .site-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 438px;
  }

  .site-menu__item--active {
    border-bottom: 1px solid $green-back;
  }

  .site-menu__item:first-child {
    border-top: 0;
  }

  .site-menu__item {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 0;
  }

  .site-menu__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }
}

@media (min-width: $desktop) {
  .site-menu {
    width: 480px;
    justify-content: flex-end;
  }

  .site-menu__link {
    font-size: 20px;
    line-height: 25px;
    color: $white-back;
  }
}
