.social {
  border-bottom: 1px solid $grey-form;
  padding-top: 24px;
  padding-bottom: 21px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .social {
    border: 0;
  }
}
