.social {
  padding-top: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid $grey-form;
  border-top: 1px solid $grey-form;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

.social__link {
  position: relative;
}

.social__link--instagram {
  left: -5px;
}

.social__link--facebook {
  left: -5px;
}

.social__link-foto {
  fill: $grey-logo;

  &:hover {
    fill: $green-back;
  }

  &:active {
    opacity: $opacity-active;
  }
}

@media (min-width: $tablet) {
  .social {
    border: 0;
    padding-top: 39px;
    padding-bottom: 31px;
    padding-left: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .social__link--vkontakte {
    left: -19px;
  }

  .social__foto--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__foto--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--instagram {
    top: -3px;
    left: -23px;
  }

  .social__foto--facebook {
    width: 14px;
    height: 28px;
  }

  .social__link--facebook {
    left: -25px;
    top: -5px;
  }
}

@media (min-width: $desktop) {
  .social__link--vkontakte {
    left: -16px;
  }

  .social__link--instagram {
    left: -19px;
  }

  .social__link--facebook {
    left: -20px;
  }
}
