.social {
  border-bottom: 1px solid $grey-form;
  padding-top: 22px;
  padding-bottom: 17px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

.social__link {
  position: relative;
}

.social__link--instagram {
  left: -5px;
}

.social__link--facebook {
  left: -5px;
}

@media (min-width: $tablet) {
  .social {
    border: 0;
    padding-top: 39px;
    padding-bottom: 31px;
  }
}
